<div class="row position-main">
  <div class="col-md-6 offset-md-3 col-sm-12">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="password" class="col-4 col-form-label text-center">Password</label>
        <div class="col-8">
          <input type="password" class="form-control" id="password" name="password" required ngModel
                 #Password="ngModel">
          <div class="alert alert-danger" *ngIf="Password.invalid && Password.touched">
            <span *ngIf="Password.touched && Password.errors.required"
                  class="help-block">Password is required</span>
          </div>
        </div>
      </div>
      <button class="btn btn-success">Submit <i class="material-icons" style="vertical-align: middle">send</i></button>
    </form>
  </div>
</div>
